
mmsGroupId=5a6b2f16432bc32ffc900c48
#
# REQUIRED
# Enter your API key - It can be found at https://localhost:8080/settings/group
#
mmsApiKey=5a6f3fb6432bc32ffc362cab29ce42491eff805052e960820547d3bb
#
# Base url of the MMS web server.
#
mothership=ec2-34-203-218-44.compute-1.amazonaws.com:8080

https=false
logFile=./logs/backup-agent.log
logLevel=DEBUG

