

mmsGroupId=5a6b2f31432bc32ffc901d86

#
# REQUIRED
# Enter your API key - It can be found at https://localhost:8080/settings/group
#
mmsApiKey=5a6c9cab432bc32ffc818cadc68c0a9ada737e2f053565cf0a4b3685

#
# Base url of the MMS web server.
#
mmsBaseUrl=http://ec2-34-203-218-44.compute-1.amazonaws.com:8080
logFile=./logs/monitoring-agent.log
logLevel=DEBUG

