

mmsGroupId=5a678320432bc361c75bdc4c

#
# REQUIRED
# Enter your API key - It can be found at https://localhost:8080/settings/group
#
mmsApiKey=5a678335432bc361c75bea031d8f35fb85d616c9862b783dd555e137

#
# Base url of the MMS web server.
#
mmsBaseUrl=http://ec2-34-203-218-44.compute-1.amazonaws.com:8080
logFile=./logs/monitoring-agent.log
logLevel=DEBUG

