#
# REQUIRED
# Enter your Project ID - It can be found at https://localhost:8080/settings/group
#
mmsGroupId=5a6b2f16432bc32ffc900c48

#
# REQUIRED
# Enter your API key - It can be found at https://localhost:8080/settings/group
#
mmsApiKey=5a6f3fb6432bc32ffc362cab29ce42491eff805052e960820547d3bb

#
# Base url of the MMS web server.
#
mmsBaseUrl=http://ec2-34-203-218-44.compute-1.amazonaws.com:8080

#
# Path to log file
#
logFile=./logs/automation-agent.log
logLevel=DEBUG
#
# Path to backup cluster config to
#
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json

#
# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
#logLevel=INFO
logLevel=DEBUG

#
# Maximum number of rotated log files
#
maxLogFiles=10

#
# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize=268435456

#
# URL to proxy all HTTP requests through
#
#httpProxy=

# For additional optional settings, please see
# https://docs.cloud.mongodb.com/reference/automation-agent/
